@charset "UTF-8";

/* Edição geral */
body {
    font-family: Arial, sans-serif;
    font-size: 32pt;
    text-align: center;
}

#pagina {
    background-color: rgba(255, 0, 0, .3);
    width: 90%;
    margin: auto;
    border: 10px solid black;
}

#cabecalho, #corpo, #roda-pe{
    margin: 10px;
}

/* Edição do cabeçalho */
#cabecalho {
    background-color: rgba(0, 0, 255, .8);
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cabecalho ul, #logo img {
    margin: 5px;
}

#cabecalho ul {
    display: flex;
    flex-direction: row;
}

#menu li {
    list-style: none;
    margin: 5px;
}

.menu-op img {
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    border: 2px solid black;
}

/* Edição do corpo */
#corpo section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.header-corpo {
    width: 100%;
}

.article-corpo-index {
    border: 2px solid black;
    background-color: rgba(0, 255, 0, .7);
    margin: 5px;
    width: 100%;
}

/* Edição roda-pé*/
#roda-pe {
    background-color:rgba(125, 0, 125, .7);
    border-radius: 10px;
    padding: 5px;
}

.parceiros img {
    margin: 10px 10px 5px 0;
}

/* responsivo */
@media (max-width: 2000px){

    body {
        font-size: 24pt;
    }

    #roda-pe section {
        font-size: 22pt;
    }
}

@media (max-width: 1500px){

    body {
        font-size: 16pt;
    }

    #roda-pe section {
        font-size: 11pt;
    }
}

@media (max-width: 800px){

    body {
        font-size: 12pt;
    }

    .article-corpo-imagem,
    .article-corpo-index {
        width: 45%;
    }

    #roda-pe section {
        font-size: 8pt;
    }
}

@media (max-width: 500px){

    body {
        font-size: 9pt;
    }

    .article-corpo-imagem,
    .article-corpo-index {
        width: 100%;
    }

    #roda-pe section {
        font-size: 5pt;
    }
    
}
